#formfields {
	width: 500px;
}
#pop-up1 {
	height: 1px;
	display: none;
	justify-content: flex-end;
	color: #B22222;
}
#pop-up2 {
	height: 1px;
	display: none;
	justify-content: flex-end;
	color: #B22222;
}
#pop-up3 {
	height: 1px;
	display: none;
	justify-content: flex-end;
	color: #B22222;
}
.fieldtext {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
}
.field {
	width: 200px;
	height: 26px;
	font-family: arial;
	font-size: 18px;
	color: #004e75;
	border: 1px solid #9f9f9f;
	align-self: center;
	flex: 0 0 200px;
	margin-left: auto;
}
.field:focus {
	outline: none;
}
#fieldsubmit {
	height: 50px;
	text-align: center;
	align-items: center;
}
